* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .card {
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card:hover {
    transform: scale(1.1);
}

.swiper {
  width: 100%;
  max-width: 800px; /* Ajuste o tamanho máximo do carrossel */
  height: 700px;
  margin: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .max-w-lg {
  margin: auto;
}

.max-w-lg {
  max-width: 300px; /* Ajuste o tamanho máximo do card */
}

#botao{
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#botao:hover {
  transform: scale(1.1);
}